<?xml version="1.0"?>
<!--mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_orange_assets">
        <asset>
            <mesh file="$(find mujoco_ycb)/assets/meshes/ycb_orange/model.obj" name="ycb_orange" scale="1.0 1.0 1.0"/>
            <texture name="ycb_orange" file="$(find mujoco_ycb)/assets/meshes/ycb_orange/texture_map.png" type="2d"/>
            <material name="ycb_orange" texture="ycb_orange"/>
        </asset>
    </xacro:macro>
</mujoco-->

<mujoco xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="ycb_orange_assets">
        <asset>
            <mesh file="/home/zklinger/Robocup/src/mujoco_ycb/assets/meshes/ycb_orange/model.obj" name="ycb_orange" scale="1.0 1.0 1.0"/>
            <texture name="ycb_orange" file="/home/zklinger/Robocup/src/mujoco_ycb/assets/meshes/ycb_orange/texture_map.png" type="2d"/>
            <material name="ycb_orange" texture="ycb_orange"/>
        </asset>
    </xacro:macro>
</mujoco>
